
.topbar{
	background: #f1f1f1;
	color: #444;
	padding: 12px 0;
	
    .left-topbar{
    	p{
    		font-size: 12px;

    		a{
			  color: #86baa5;
			 
			  &:hover{
		    	color: #17eaed;
			  }
			
			}
    	}
	    
	}
	.right-topbar{
		float: right;
		#pgl-language-switch{
			font-size: 12px;
			margin-bottom: 0px;
			-moz-appearance: none;
			border: 0px none;
			width: auto;
			color: #86baa5;
			background: transparent none repeat scroll 0% 0%;
			background-image: url("../images/assets/home.jpg") ;
			background-repeat: no-repeat;
			background-position: right 50%;
		   cursor: pointer;
		   -webkit-appearance: none;
		   appearance:         none;
		} 
		#pgl-names-switch{
			font-size: 12px;
			margin-bottom: 0px;
			-moz-appearance: none;
			border: 0px none;
			width: auto;
			color: #86baa5;
			background: transparent none repeat scroll 0% 0%;
			background-image: url("../images/assets/home.jpg") ;
			background-repeat: no-repeat;
			background-position: right 50%;
		   cursor: pointer;
		   -webkit-appearance: none;
		   appearance:         none;
		}         
        .the-switch{
        	padding-right:5px;
        }
        ul{
        	float: right;
        	li{
        		float: left;
        		list-style-type: none;
        		font-size: 12px;
        		
        	}
        	.tabs-sort-1{
        		margin-right: 15px;
        		&:after{
        			content: '\f0d7';
        			font-family:'FontAwesome';
        			display: inline-block;
        			color: #444;
        			font-size: 10px;
        			margin-left: 7px;
        		}
        	}
        	.tabs-sort-2{
        		margin-right: 15px;
        	}
        }
	}
}


@media only screen and (max-width: 767px) {
	.header-topbar{
		.left-topbar{
			p{
	        	text-align: center;	
			}
		}
		.right-topbar{
		    float: none;
		    text-align: center;
		    ul{
		    	float: none;
		    	display: inline-block;
		    }
		}
	}
	.topbar .right-topbar {
	    margin-top: -15px;
	}
	.topbar .right-topbar ul .tabs-sort-1 {
	    margin-top: 3px;
	}
}
@media only screen and (max-width: 575px) {
    .topbar .right-topbar {
	    margin-top: 0px;
	}
}
@media only screen and (max-width: 480px) {
	.topbar .left-topbar p {
	   text-align: center;
	}
	.topbar .right-topbar {
		width: 100%;
		text-align: center;
	}
	.topbar .right-topbar ul {
		float: none;
		display: inline-block;
	}
}